.head {}

.head-logo {
    max-width: 180px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.head-title {
    color: #0087ff;
    font-family: 'Ubuntu';
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    padding-left: 200px;
    font-weight: bold;
}