body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-title {
    font-family: 'Ubuntu';
    font-weight: bold;
    color: #0087ff;
    text-align: left;
    padding-top: 10px;
}

.head-logo {
    max-width: 180px;
    width: 80%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.head-title {
    color: #0087ff;
    font-family: 'Ubuntu';
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    padding-left: 200px;
    font-weight: bold;
}

.body {
    padding-top: 100px;
}

.inv-div {
    height: 100px;
}

.body-title {
    font-family: 'Ubuntu';
    font-weight: bold;
    color: #0087ff;
    text-align: center;
}

.body-text {
    padding-top: 30px;
    font-size: 20px;
    color: #a5a5a5;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.buttons {
    text-align: center;
    position: relative;
    top: 100px;
}

.header-text {
    text-align: right;
    padding-right: 250px;
    color: #a5a5a5;
    font-size: 20px;
}

.header-text-questions {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #a5a5a5;
    font-size: 20px;
}

.opt {
    margin: auto;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.opt-btn {
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 80px;
    transition: transform 0.3s ease;
    background-color: transparent;
    border: 1px solid;
    border-color: #0087ff;
    color: #0087ff;
}

.opt-btn:hover {
    transform: translateY(-5px);
    background-color: #0087ff;
    color: #ffffff;
}

.back-btn-cont {
    padding-top: 50px;
}

.back-btn {
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 120px;
    height: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
    background-color: #379ef8;
}

.back-btn:hover {
    background-color: #0088ff;
    transform: scaleX(50px);
}